page-admin {
        position: relative !important;
        /*max-width: 600px;*/
        margin-right: auto;
        margin-left: auto;

    .button-md {
        overflow: hidden;
        margin: 1% 0.2rem;
        padding: 0 1.1em;
        height: 10%;
        border-radius: 2px;
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background-color: #488aff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button-md {
      overflow: hidden;
      margin: 1% 0.2rem;
      padding: 0 1.1em;
      height: 10%;
      border-radius: 2px;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      background-color: #488aff;
      box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .scroll-content {
        overflow-x: auto !important;
        overflow-y: auto !important;
        background-color: white !important;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .ion-md-warning:before{
      margin-left: -15px;
    }
    ion-content{
       
        .button{
          height: 15%;
          border-radius: 20px;
            .button-inner{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                }
        }
        ion-icon{
            font-size: 80px;
            padding-right: 0px !important;
        }
    }
///////////////////////////////////DESKTOP/////////////////////////////
/* Menú de círculos expandible */

ul.circulos { 
position: relative;
width: 100%;
height: 120px;
margin: 20px auto;  
text-align: center;
list-style-type: none;  
font:  bold 14px arial; 
}  
ul.circulos li {  
display: inline;
margin: 0;
padding: 0;
}   
ul.circulos li a {
    position: absolute;
    opacity: 0;
    display: inline-block;
    left: 50%;
    margin-left: -50px;
    text-decoration: none;
    color: white;
    background-color: #488aff;
    width: 130px;
    height: 130px;
    line-height: 30px;
    border-radius: 200px;
-o-transition: all .8s ease-out;
-webkit-transition: all .8s ease-out;
-moz-transition: all .8s ease-out;
-ms-transition: all .8s ease-out;
transition: all .8s ease-out;
}
ul.circulos li:last-of-type a {
opacity: 1;
} 
ul.circulos a span {  
position: relative;
top:40%;
padding: 5px;
text-align: center;
}  
ul.circulos:hover li a {
color: black;
background: lightblue;
opacity: 1;
-o-transition: all .8s ease-out;
-webkit-transition: all .8s ease-out;
-moz-transition: all .8s ease-out;
-ms-transition: all .8s ease-out;
transition: all .8s ease-out;
}  
ul.circulos:hover li:nth-of-type(1) a {
margin-top: -130px;
margin-left: -49px;
}
ul.circulos:hover li:nth-of-type(2) a {
margin-left: -177px;
margin-top: -25px;
}
ul.circulos:hover li:nth-of-type(3) a {
margin-left: -50px;
}
ul.circulos:hover li:nth-of-type(4) a {
margin-top: 130px;
margin-left: -50px;
}
ul.circulos:hover li:nth-of-type(6) a {
    margin-top: 130px;
    margin-left: -50px;
    }
ul.circulos:hover li:nth-of-type(5) a {
margin-left: 75px;
margin-top: -25px;
}
ul.circulos:hover li:last-of-type a {
opacity: 0;
top: -1000px;
} 
/////////////////////////////MEDIA QUERY DESKTOP/MOVILE///////////////////////////
    .desktop{
        display: flex;
    }

    @media (max-width: 500px) {
        .desktop {
          display: none;
        }
        .movile {
            display: flex;
          }
      }
  
}
