<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ADMINISTRATOR' | translate }}</ion-title>
    <ion-buttons left>
      <button ion-button (click)="showConfirm()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> 
 
<ion-content padding class="movile">


  <button ion-button block (click)="onClickAddUser()">
    <ion-icon class="icon" name="person-add" item-left padding-right="5px"></ion-icon>
    {{ 'REGISTER' | translate }}
  </button>
  <button ion-button block (click)="onClickUsers()">
    <ion-icon name="people" item-left padding-right="5px"></ion-icon>
    {{ 'SHOWUSER' | translate }}
  </button>
  <button ion-button block (click)="onClickRoles()">
    <ion-icon class="warning" name="warning" item-left padding-right="5px"></ion-icon>
    {{ 'SHOWROLE' | translate }}
  </button>
  <button ion-button block (click)="onClickHolidays()">
    <ion-icon name="calendar" item-left padding-right="5px"></ion-icon>
    {{ 'CALENDAR' | translate }}
  </button>
  <button ion-button block (click)="onClickCheckIn()">
    <ion-icon name="alarm" item-left padding-right="5px"></ion-icon>
    {{ 'CLOCK_IN_MANAGEMENT' | translate }}
  </button>

</ion-content>

<ion-content padding class="desktop">
  
  <ul class="circulos">
    <li><a href="javascript:void;"><span>Inicio1</span></a></li>
    <li><a href="javascript:void;"><span>Portfolio2</span></a></li>
    <li><a href="javascript:void;"><span>Bio3</span></a></li>
    <li><a href="javascript:void;"><span>Galería4</span></a></li>
    <li><a href="javascript:void;"><span>Galería6</span></a></li>
    <li><a href="javascript:void;"><span>Contacto5</span></a></li>
    <li><a href="javascript:void;"><span>MENU</span></a></li>
    </ul>


   <!-- <button ion-button block (click)="onClickAddUser()">
      <ion-icon class="icon" name="person-add" item-left padding-right="5px"></ion-icon>
      {{ 'REGISTER' | translate }}
    </button>
    <button ion-button block (click)="onClickUsers()">
      <ion-icon name="people" item-left padding-right="5px"></ion-icon>
      {{ 'SHOWUSER' | translate }}
    </button>
    <button ion-button block (click)="onClickRoles()">
      <ion-icon class="warning" name="warning" item-left padding-right="5px"></ion-icon>
      pepito
    </button>
    <button ion-button block (click)="onClickHolidays()">
      <ion-icon name="calendar" item-left padding-right="5px"></ion-icon>
      {{ 'CALENDAR' | translate }}
    </button>
    <button ion-button block (click)="onClickCheckIn()">
      <ion-icon name="alarm" item-left padding-right="5px"></ion-icon>
      {{ 'CLOCK_IN_MANAGEMENT' | translate }}
    </button>-->
  
  </ion-content>