// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  lightwhite:      #fff,
  dark:       #222,
  warning:    #f4b342,
  pending:    #f4b342,
  aproved:    #42f483,
  denied:     #f44d41,
  interf:     #4b5043,
  bae: #0057b3,
  inputlogin: white
);

$toolbar-ios-background:(color($colors,'interf'));
$toolbar-md-background:(color($colors,'interf'));
$toolbar-wp-background:(color($colors,'interf'));
$tabs-ios-tab-text-color:(color($colors,'lightwhite'));
$tabs-md-tab-text-color:(color($colors,'lightwhite'));
$tabs-wp-tab-text-color:(color($colors,'lightwhite'));
$tabs-ios-tab-icon-color:(color($colors,'lightwhite'));
$tabs-md-tab-icon-color:(color($colors,'lightwhite'));
$tabs-wp-tab-icon-color:(color($colors,'lightwhite'));

.tabbar{
    background-color:  color($colors,'interf') !important;
    
  }

// ion-content{
//   background-color: color($colors,'bae') !important;
//   background-size: 100%;
// }


.logo{
	background-color:rgba(0,0,0,0.0);
	margin: 0 auto;
	display:block;
}

.custombg{
    background-color: color($colors,'interf');
  }

.ioninput{
   background-color: color($colors,'inputlogin') !important;
   color: color($colors,'dark');
}
.remember{
  background-color: color($colors,'bae') !important;
  color: white !important;
  #checkBox{
    margin-right: 5px;

  }  
 }

 

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
