<ion-content padding>
  <ion-item class="ioninputlan" no-lines>
    <ion-label>{{'LANGUAGE'|translate}}</ion-label>
    <ion-select class="selectlan" rigth (ionChange)="onLanguage($event)">
      <ion-option value="spa">{{ 'SPANISH' | translate }}</ion-option>
      <ion-option value="eng">{{ 'ENGLISH' | translate }}</ion-option>
    </ion-select>

  </ion-item>


  <form [formGroup]="loginForm" (ngSubmit)="userLogin(user)">
    <ion-img src="assets/img/BaezaRuiz.png" class="logo"></ion-img>
    <ion-content class="paquito">
      <ion-item class="ioninputsingle">
        <ion-label>
          <ion-icon item-left name="at"></ion-icon>
          {{ 'EMAIL_OR_DNI' | translate }}:
        </ion-label>
        <ion-input [(ngModel)]="user.input" type="text" formControlName="input" placeholder="Ej:12354678X"></ion-input>
      </ion-item>

      <ion-item class="ioninput" *ngIf="!loginForm.controls.input.valid && loginForm.controls.input.touched">
        <p style="color:red;"> {{ 'PLACEHOLDER_EMAIL' | translate }}</p>
      </ion-item>

      <ion-item class="ioninputsingle">
        <ion-label>
          <ion-icon item-left name="key"></ion-icon>
          {{ 'PASSWORD' | translate }}:
        </ion-label>
        <ion-input [(ngModel)]="user.password" type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item class="ioninput" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
        <p style="color:red;">{{ 'EMPTY_PASSWORD' | translate }}</p>
      </ion-item>
      
        <button class="btnlogin" ion-button margin-top="10px" type="submit" block>{{ 'LOGIN' | translate }}</button>
        <ion-item class="ioninput remember" no-lines>
          <ion-label>{{ 'REMEMBER' | translate }}</ion-label>
          <ion-checkbox [(ngModel)]="remember" [ngModelOptions]="{standalone: true}" id="checkBox"></ion-checkbox>
        </ion-item>
      
    </ion-content>



  </form>
  <div class="recover">
    <button ion-button block clear (click)="goToResetPassword()">{{ 'RECOVER' | translate }}</button>
  </div>
</ion-content>