
page-home {
    $darktheme: #0057b3;
    position: relative !important;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    ion-content {
        background-color: #0057b3 !important;
        background-size: 100%;
    }
    .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
    }
    .scroll {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .logo {
        width: 15em;
        height: 15em;
        margin-bottom: 25px;
    }
    form {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }
    .checkboxremem {
        background-color: rgba(0, 0, 0, 0.0);
        ion-label {
            color: black;
        }
    }
    .iforgot {
        a {
            color: $darktheme !important;
            font-weight: bold;
        }
    }
    .btnlogin {
        width: 150px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 25%;
        background-color: white;
        color: #0057b3;
    }
    .paquito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }
    .ioninputsingle {
        margin: 10px;
        height: 15px;
        width: auto;
        border-radius: 15px;
    }
    .ioninputlan {
        margin-left: 65%;
        margin-right: 1%;
        height: 15px;
        width: 35%;
        border-radius: 15px;
        background-color: #0057b3;
        padding-left: 0% !important;
        ion-label {
            color: white !important;
            width: auto; // margin: 10%;
        }
        .selectlan {
            background-color: #0057b3 !important;
            padding-left: 5% !important;
            color: white !important;
        }
        ion-select {
            background-color: #0057b3 !important;
            height: auto;
            width: auto; //margin-left: -20px;
            color: white !important;
            ion-option {
                color: #0057b3 !important;
            }
        }
    }
    .recover {
        position: absolute;
        top: 550px;
        left: 23%;
        .button-inner {
            color: #5aacfd;
        }
    }
    .remember {
        width: 230px !important;
        position: absolute !important;
        top: 180px;
        left: 15% !important;
        margin-left: 2px;
    }
}

@media only screen and (max-height:640px) and (max-width:640px) {
    page-home {
        ion-content {
            background-color: #0057b3 !important;
            background-size: 100%;
        }
        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
        }
        .ioninputsingle {
            margin: 5px;
            height: 15px;
            width: 400px;
            border-radius: 15px;
            left: 150px;
        }
        .paquito {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: auto;
            position: absolute;
            top: 65px;
            left: 0px;
        }
        ion-item {
            justify-content: center;
            align-items: center;
        }
        .logo {
            width: 10em;
            height: 10em;
            margin: 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: absolute;
            top: 65px;
            left: 10px;
        }
        .recover {
            position: absolute;
            top: 300px;
            left: 5%;
            color: black !important;
            bottom {
                color: white !important;
            }
            .button-inner {
                color: #5aacfd;
            }
        }
        .btnlogin {
            width: 150px;
            border-radius: 25%;
            background-color: white;
            color: #0057b3;
            position: absolute;
            top: 200px;
            left: 60%;
            margin-top: 0px !important;
        }
        .remember {
            width: 230px !important;
            position: absolute !important;
            top: 180px;
            left: 4% !important;
            margin-left: 2px;
        }
    }

    .ioninputlan {
        margin-left: 65%;
        margin-right: 1%;
        height: 15px;
        width: 100px !important;
        border-radius: none !important;
        background-color: #0057b3;
        background-color: red !important;
        padding-left: 5px !important;
        ion-label {
            color: white !important;
        }
        .selectlan {
            background-color: #0057b3 !important;
            padding-left: 2% !important;
            color: white !important;
            width: 30px !important;
        }
        ion-select {
            background-color: #0057b3 !important;
            color: white !important;
            ion-option {
                color: #0057b3 !important;
            }
        }
    }
}