<ion-header>
  <ion-navbar>
    <ion-title>{{ 'USER' | translate }}</ion-title>
    <ion-buttons left>
      <button ion-button (click)="showConfirm()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button class="m_user" ion-button (click)="onClickHollidays()"><ion-icon name="calendar" item-left padding-right="5px"></ion-icon>{{ 'RESERVE_VACATION' | translate }}</button>
  <button class="m_user" ion-button (click)="onClickMap()"> <ion-icon name="alarm" item-left padding-right="5px"></ion-icon>{{ 'CLOCK_IN' | translate }}</button>
  <button class="m_user" ion-button (click)="onChangePassword()"><ion-icon name="lock" item-left padding-right="5px"></ion-icon>{{ 'CHANGE_PASSWORD' | translate }}</button>
  <button class="m_user" ion-button (click)="toggleGroup(i)"><ion-icon name="person" item-left padding-right="5px"> </ion-icon>{{ 'MY_DATA' | translate }}
    <ion-row>
      <ion-col>
        <ion-icon item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </ion-col>
    </ion-row>
  </button>

  <ion-item no-line class="oculto">
    <ion-card *ngIf="isGroupShown(i)">

      <ion-list class="datauser">
        <ion-list-header>
          Datos Generales
        </ion-list-header>
        <ion-item>
          <p>{{'CODIGO' | translate}}:</p>
          {{user._id}}
        </ion-item>
        <ion-item>
          <p>{{'DNI' | translate}}:</p>
          {{user.dni}}
        </ion-item>
        <ion-item>
          <p>{{ 'NAME' | translate }}:</p>
          {{user.name}}
        </ion-item>
        <ion-item>
          <p>{{'LASTNAME' | translate}}:</p>
          {{user.lastname}}
        </ion-item>
        <ion-item>
          <p>{{'ROLE' | translate}}:</p>
          {{user.role}}
        </ion-item>
        <ion-item>
          <p>{{ 'EMAIL' | translate}}:</p>
          {{user.email}}
        </ion-item>
        <ion-item>
          <p>{{ 'ADDRESS' | translate}}:</p>
          {{user.address}}
        </ion-item>
        <ion-item>
          <p>{{ 'CITY' | translate}}:</p>
          {{user.city}}
        </ion-item>
        <ion-item>
          <p>{{ 'STATE_OR_PROVINCE' | translate}}:</p>
          {{user.stateprovince}}
        </ion-item>
        <ion-item>
          <p>{{ 'COUNTRY' | translate}}:</p>
          {{user.country}}
        </ion-item>
        <ion-item>
          <p>{{'PHONE_NUMBER' | translate }}:</p>
          {{user.phone}}
        </ion-item>

      </ion-list>

    </ion-card>

  </ion-item>

</ion-content>