page-user {
    position: relative !important;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    ion-content {
        background-color: white !important;
        background-size: 100%;
    }
    .m_user {
        background-color: #0057b3 !important;
        color: white !important;
        width: 250px !important;
        margin: 2% !important;
        padding: 20px;
        align-items: center;
        align-content: center;
    }
    .oculto {
        background-color: white !important;
    }
    ion-header {
        color: red !important;
    }
    .datauser {
        border: solid 5px #0057b3;
        border-radius: 5px;
        ion-list-header {
            font-weight: 800 !important;
            color: white !important;
            font-size: 30px;
            text-align: center;
            background-color: #0057b3;
            border: 1px solid #0057b3;
        }
        p {
            font-weight: 800 !important;
            color: #0057b3;
        }
        ion-item {
            font-size: 14px;
        }
    }
    ion-icon {}
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }
    .scroll-content {
        width: 100% !important;
    }
}

@media (max-width: 596px) {
    page-user {
        ion-content {
            background-color: white !important;
            background-size: 100%;
        }
        .m_user {
            background-color: #0057b3 !important;
            color: white !important;
            width: 96% !important;
            
            align-items: center;
            align-content: center;
        }
    }
}

